html,body{
    margin: 0px;
    padding: 0px;
}

#header{
    margin-top: 3%;
}

#main-container{
    width: 50%;
    margin: 0 auto;   
    margin-top: 5%;
}

#logo{
    width: 30%;
    height: 50px;
    background-color: black;
    margin-left: 0px;
    border-radius: 0 10px 10px 0px;
    color: #fff;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

#genre-dropdown{
    width: 30%;
    display: inline-block;
}
#genre-dropdown select{
    border-radius: 5px;
}

#video-player{
    width: 100%;
    height: 300px;
}

#video-player-footer{
    width: 100%;
}
#video-id{
    float: left;
}

#video-genre{
    float: right;
}

#next-video{
    padding: 5px;
    font-size: 1em;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #F9F9F9;
    border: 1px solid #C7C7C7;
    border-radius: 7px;
    width: 70%;
}

#previously-viewed{
    width: 100%;
    margin-top: 20px;
}

#previously-viewed h3{
    border-bottom: 1px solid #000;
}

ol, ul{
    list-style: none;
}

ul{
    text-align: center;
}

.viewed-video{
    width:  100%;
    margin-top:10px;
    margin-bottom:10px;
}

.video-player-thumbnail{
    vertical-align: middle;
    display: inline-block;
    background-color: #111111;
    width: 20%;
    height: 50px;
}

.viewed-video-title{
    font-style: bold;
}
.video-viewed-details{
    vertical-align: middle;
    display: inline-block;
}

.page{
    cursor: pointer;
    display: inline;
    padding: 5px;
}